*{
    padding: 0px;
    margin: 0px;
    color: white;
    
}

.topLogo{
    width: 180px;
}

body{
    background-image: url(/imagens/backgroundLp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 120vh;   
}

.container{
    background-color: $background-color;
    width: 100px;
    height: auto;
}

#paragraph {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btnSucess {
    color: #ff0043;
    border: 1px solid #ff0043;
}

.btnSucess:hover {
    background-color: #ff0043;
    color: white;
}