.header{
    font-size: 12px;
    font-weight: bold;

    #navItem{  
        color: white;
        &:hover{
            color: $link-hover;
        }
    }
}

.container00{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowDown{
    display: inline-block;
    width: 90px;
    margin-top: 5px;
}

.logoOne{
    width: 240px;
    margin-left: -10px;
    margin-right: 40px;
}

#button{
    padding: $padding-button;
}

.footer{
    background-color: black;
    height: 10vh;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: none;
        color: whitesmoke;
        &:hover{
        color: $link-hover;
        }
    }

    .copyOBC{
        color: $copy-color;
    }
}

// Media Query

@media (max-width: 405px){
    .logoOne{
        width: 180px;
        margin-top: 15px;
    }

    .footer{
        font-size: 10px;
    }
}

@media (max-width: 350px){
    .logoOne{
        width: 150px;
        margin-top: 15px;
    }

    .footer{
        font-size: 10px;
    }
}

